<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Confirm Delete Request</title>
</head>
<body>
  <div id='wrapper' class='delete'>
    <h1>Are you sure you want to delete the following course?</h1>

    <p><strong>Name:</strong> {{course_delete.name}}</p>
    <p><strong>Description:</strong> {{course_delete.desc.content}}</p>
    <a href="/">No</a>
    <a href="/{{course_delete.id}}/delete">Yes! I want to delete this</a>
  </div>
</body>
</html>